<style type="text/css">
    /* http://web.simmons.edu/~grabiner/comm244/weekfour/code-test.html */
    pre code {
        padding-left: 40px;
        display: block;
        font-size: 70%;
        white-space: pre;
    }
</style>
<!-- ugly hack for link verification :3 -->
<a rel="me" href="https://todon.eu/@ljrk"></a>
